* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: all .2s ease;
}

input:focus, input:focus-within {
    box-shadow: none !important;
    outline: none;
}

$fontMain: 'Gilmer';
$shadow: 0px 6px 27px -2px rgba(0,0,0,0.27);

html {
    width: 100%;
    height: 100%;
}

body {
    // padding: 35px 0;
    width: 100%;
    height: 100%;
    color: var(--textColorMain);
}

footer {
    display: none;
    margin-top: 15px;
}

main {
    width: 100%;
    height: 100%;
    // padding: 50px;
    // background-color: #eaf0f5;
    background-color: var(--blue200);
    
    #barUI {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        // border-radius: 23px;
        box-shadow: $shadow;
        overflow: hidden;
        background-color: white;

        aside[data-label="mainNav"] {
            background-color: var(--asideBackground);
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 25px;

    &.container-lg {
        max-width: 1200px;
    }
}

button, .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    appearance: none;
    border: none;
    background-color: var(--btnLight);
    padding: 5px 7px;
    border-radius: 9px;
    color: var(--btnLightColor); 
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    @extend .text-modern;

    svg.feather {
        width: 17px;
        margin-right: 8px;
        stroke-width: 2.7px;
        stroke-linecap: square;
    }

    &:disabled {
        opacity: 0.6;
    }

    &:focus, &:focus-within {
        outline: none !important;
        box-shadow: none !important;
    }

    &.btn-blue {
        background-color: var(--blue600);
        color: white;

        svg.feather {
            // color: var(--blue300);
            color: #B1D3F2;
        }
    }

    &.btn-danger {
        background-color:  var(--danger600) !important;
        color: white !important;
        
        &:hover, &:active, &:focus {
            background-color:  var(--danger600);
            color: white;
        }

        svg.feather {color: var(--danger400);}
    }

    &.btn-accent {
        background-color: var(--info);
        color: white;
    }
    
    &.btn-icon {
        svg {
            margin-right: 0px;
        }
    }
    
    &.btn-light {
        background-color: var(--btnLight) !important;
        color: var(--btnLightColor) !important; 
        
        &:hover, &:active, &:focus {
            background-color: var(--btnLight);
            color: var(--btnLightColor);        
        }
        
    }
    
    &.btn-warning {
        background-color: var(--warning500) !important;
        color: var(--warning600) !important;
        
        &:hover, &:active, &:focus {
            background-color: var(--warning500);
            color: var(--warning600);          
        }
    }
}

[data-label="logo"] {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 29px;
}

svg.feather {
    height: 19px;
}

[data-error] {
    // display: none;
    font-size: 80%;
    color: var(--errorText);
}

[data-sudo-mode="false"] {
    .sudo-show {
        display: none !important;
    }
    .sudo-hide {
        display: inherit;
    }
}

[data-sudo-mode="true"] {
    .sudo-show {
        display: inherit;
    }
    .sudo-hide {
        display: none !important;
    }
}

body[dark-mode="true"] {
    filter: brightness(0.75);
}