* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-grid-wrapper {
    --grid-row-items-n: 1;
    --grid-row-items-p: 20px;
    overflow: visible !important;
    overflow-x: hidden;

    .flex-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-right: calc(var(--grid-row-items-p) - (var(--grid-row-items-p) * 2));
        margin-bottom: calc(var(--grid-row-items-p) - (var(--grid-row-items-p) * 2));
    
        .flex-grid-item {
            flex-basis: calc(100% / var(--grid-row-items-n) - var(--grid-row-items-p));
            margin-bottom: var(--grid-row-items-p); 
            margin-right: var(--grid-row-items-p);
            // height: fit-content;
            // background-color: inherit;
            // color: red;
        }

        &.grow {
            justify-content: space-between;

            .flex-grid-item {
                flex-grow: 1;
            }
        }
    }
}

.flex-grid-wrapper.row-item-1 {
  --grid-row-items-n: 1 !important;
}
.flex-grid-wrapper.row-item-2 {
  --grid-row-items-n: 2 !important;
}
.flex-grid-wrapper.row-item-3 {
  --grid-row-items-n: 3 !important;
}
.flex-grid-wrapper.row-item-4 {
  --grid-row-items-n: 4 !important;
}

@media (min-width: 576px) {
  .flex-grid-wrapper.row-item-sm-1 {
      --grid-row-items-n: 1 !important;
  }
  .flex-grid-wrapper.row-item-sm-2 {
      --grid-row-items-n: 2 !important;
  }
  .flex-grid-wrapper.row-item-sm-3 {
      --grid-row-items-n: 3 !important;
  }
  .flex-grid-wrapper.row-item-sm-4 {
      --grid-row-items-n: 4 !important;
  }
}


@media (min-width: 768px) {
  .flex-grid-wrapper {
      --grid-row-items-n: 2;
  }

  .flex-grid-wrapper.row-item-md-1 {
      --grid-row-items-n: 1 !important;
  }

  .flex-grid-wrapper.row-item-md-2 {
      --grid-row-items-n: 2 !important;
  }

  .flex-grid-wrapper.row-item-md-3 {
      --grid-row-items-n: 3 !important;
  }

  .flex-grid-wrapper.row-item-md-4 {
      --grid-row-items-n: 4 !important;
  }
}

@media (min-width: 992px) {
  .flex-grid-wrapper {
      --grid-row-items-n: 3;
  }

  .flex-grid-wrapper.row-item-lg-1 {
      --grid-row-items-n: 1 !important;
  }

  .flex-grid-wrapper.row-item-lg-2 {
      --grid-row-items-n: 2 !important;
  }

  .flex-grid-wrapper.row-item-lg-3 {
      --grid-row-items-n: 3 !important;
  }

  .flex-grid-wrapper.row-item-lg-4 {
      --grid-row-items-n: 4 !important;
  }
}

@media (min-width: 1200px) { }

