@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}