.text-modern {
    text-transform: uppercase;
    letter-spacing: 2px;
} 

.bold {font-weight: bold;}
.fontw-300 {font-weight: 300;}
.fontw-400 {font-weight: 400;}
.fontw-500 {font-weight: 500;}

strong {
    font-weight: 600;
}

// colors
.bg-color-white {
    background-color: #fff;
}