.tab-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--tabpaneBackground);

    .tab-pane {
        position: relative;
        height: fit-content;
        width: 100%;
        
        .item-select-control {
            display: none;
        }
        
        &.show-control-btns {
            .item-select-control {
                display: block;
            }
        }

        .tab-pane-title {
            position: sticky;
            top: 0px;
            left: 0px;
            right: 0px;
            background-color: var(--tabpaneBackground);
            padding: 1rem 1rem 1rem 1.5rem;
            border-bottom: 1px solid var(--tableBorders);
            z-index: 8;

            h3 {
                margin-bottom: 0px;
                color: var(--textColorMain);
                font-weight: 600;
            }
        }

        table.table {
            tr td {
                vertical-align: middle;
                line-height: 19px;
                
                small {
                    color: #808080;
                    @extend .text-modern;
                }
            }
        }
    }
}
