.tab-content {
    width: 100%;
    height: 100%;
    overflow: scroll;

    .tab-pane {
        position: relative;
        height: 100%;
        width: 100%;

        .tab-pane-title {
            padding: 1rem 1rem 1rem 1.5rem;
            border-bottom: 1px solid #dadada;

            h3 {
                margin-bottom: 0px;
                color: #4b4b4b;
                font-weight: 600;
            }
        }

        table.table {
            tr td {
                vertical-align: middle;
                line-height: 19px;
                
                small {
                    color: #808080;
                    @extend .text-modern;
                }
            }
        }
    }
}
