:root {
  --gutter: 24px;
  --debug-container-background: rgba(0, 0, 0, 1);
  --debug-row-background: rgba(0, 0, 0, 1);
  --debug-column-background: rgba(0, 255, 0, 1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.debug .container {
  border: 2px solid var(--debug-container-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter); }

.debug .container:last-of-type {
  margin-bottom: 0; }

.debug .row {
  border: 2px dashed var(--debug-row-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter); }

.debug .row:last-of-type {
  margin-bottom: 0; }

.debug .col-1:after, .debug .col-2:after, .debug .col-3:after, .debug .col-4:after, .debug .col-5:after, .debug .col-6:after, .debug .col-7:after, .debug .col-8:after, .debug .col-9:after, .debug .col-10:after, .debug .col-11:after, .debug .col-12:after {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--debug-column-background);
  border: 1px solid black; }

.container-fluid {
  box-sizing: border-box;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto; }

.container {
  box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--gutter)*-1);
  margin-left: calc(var(--gutter)*-1); }

.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter); }

.col {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: fit-content; }

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.g-offset-1 {
  margin-left: 8.333333%; }

.g-offset-2 {
  margin-left: 16.666667%; }

.g-offset-3 {
  margin-left: 25%; }

.g-offset-4 {
  margin-left: 33.333333%; }

.g-offset-5 {
  margin-left: 41.666667%; }

.g-offset-6 {
  margin-left: 50%; }

.g-offset-7 {
  margin-left: 58.333333%; }

.g-offset-8 {
  margin-left: 66.666667%; }

.g-offset-9 {
  margin-left: 75%; }

.g-offset-10 {
  margin-left: 83.333333%; }

.g-offset-11 {
  margin-left: 91.666667%; }

.g-offset-12 {
  margin-left: 100%; }

.g-gutter-half {
  padding-left: calc(var(--gutter)/2);
  padding-right: calc(var(--gutter)/2); }

.g-no-gutter {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 481px) {
  /* .row {
    margin-left: 0;
    margin-right: 0;
  } */
  .col-sm {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content; }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .g-offset-sm-1 {
    margin-left: 8.333333%; }

  .g-offset-sm-2 {
    margin-left: 16.666667%; }

  .g-offset-sm-3 {
    margin-left: 25%; }

  .g-offset-sm-4 {
    margin-left: 33.333333%; }

  .g-offset-sm-5 {
    margin-left: 41.666667%; }

  .g-offset-sm-6 {
    margin-left: 50%; }

  .g-offset-sm-7 {
    margin-left: 58.333333%; }

  .g-offset-sm-8 {
    margin-left: 66.666667%; }

  .g-offset-sm-9 {
    margin-left: 75%; }

  .g-offset-sm-10 {
    margin-left: 83.333333%; }

  .g-offset-sm-11 {
    margin-left: 91.666667%; }

  .g-offset-sm-12 {
    margin-left: 100%; } }
@media (min-width: 769px) {
  .col-md {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content; }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .g-offset-md-1 {
    margin-left: 8.333333%; }

  .g-offset-md-2 {
    margin-left: 16.666667%; }

  .g-offset-md-3 {
    margin-left: 25%; }

  .g-offset-md-4 {
    margin-left: 33.333333%; }

  .g-offset-md-5 {
    margin-left: 41.666667%; }

  .g-offset-md-6 {
    margin-left: 50%; }

  .g-offset-md-7 {
    margin-left: 58.333333%; }

  .g-offset-md-8 {
    margin-left: 66.666667%; }

  .g-offset-md-9 {
    margin-left: 75%; }

  .g-offset-md-10 {
    margin-left: 83.333333%; }

  .g-offset-md-11 {
    margin-left: 91.666667%; }

  .g-offset-md-12 {
    margin-left: 100%; } }
@media (min-width: 997px) {
  .col-lg {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content; }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .g-offset-lg-1 {
    margin-left: 8.333333%; }

  .g-offset-lg-2 {
    margin-left: 16.666667%; }

  .g-offset-lg-3 {
    margin-left: 25%; }

  .g-offset-lg-4 {
    margin-left: 33.333333%; }

  .g-offset-lg-5 {
    margin-left: 41.666667%; }

  .g-offset-lg-6 {
    margin-left: 50%; }

  .g-offset-lg-7 {
    margin-left: 58.333333%; }

  .g-offset-lg-8 {
    margin-left: 66.666667%; }

  .g-offset-lg-9 {
    margin-left: 75%; }

  .g-offset-lg-10 {
    margin-left: 83.333333%; }

  .g-offset-lg-11 {
    margin-left: 91.666667%; }

  .g-offset-lg-12 {
    margin-left: 100%; } }
@media (min-width: 1181px) {
  .col-xl {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content; }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .g-offset-xl-1 {
    margin-left: 8.333333%; }

  .g-offset-xl-2 {
    margin-left: 16.666667%; }

  .g-offset-xl-3 {
    margin-left: 25%; }

  .g-offset-xl-4 {
    margin-left: 33.333333%; }

  .g-offset-xl-5 {
    margin-left: 41.666667%; }

  .g-offset-xl-6 {
    margin-left: 50%; }

  .g-offset-xl-7 {
    margin-left: 58.333333%; }

  .g-offset-xl-8 {
    margin-left: 66.666667%; }

  .g-offset-xl-9 {
    margin-left: 75%; }

  .g-offset-xl-10 {
    margin-left: 83.333333%; }

  .g-offset-xl-11 {
    margin-left: 91.666667%; }

  .g-offset-xl-12 {
    margin-left: 100%; } }
/*
Grid system with grid
*/
.g-gr-container-fluid {
  box-sizing: border-box;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto; }

.g-gr-container {
  box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto; }

.g-gr-grid {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr); }

.g-gr-cspan-1, .g-gr-cspan-2, .g-gr-cspan-3, .g-gr-cspan-4, .g-gr-cspan-5, .g-gr-cspan-6, .g-gr-cspan-7, .g-gr-cspan-8, .g-gr-cspan-9, .g-gr-cspan-10, .g-gr-cspan-11, .g-gr-cspan-12 {
  box-sizing: border-box;
  position: relative;
  grid-column: span 12;
  grid-row: span 1; }

.g-gr-cspan-1 {
  grid-column: span 1; }

.g-gr-cspan-2 {
  grid-column: span 2; }

.g-gr-cspan-3 {
  grid-column: span 3; }

.g-gr-cspan-4 {
  grid-column: span 4; }

.g-gr-cspan-5 {
  grid-column: span 5; }

.g-gr-cspan-6 {
  grid-column: span 6; }

.g-gr-cspan-7 {
  grid-column: span 7; }

.g-gr-cspan-8 {
  grid-column: span 8; }

.g-gr-cspan-9 {
  grid-column: span 9; }

.g-gr-cspan-10 {
  grid-column: span 10; }

.g-gr-cspan-11 {
  grid-column: span 11; }

.g-gr-cspan-12 {
  grid-column: span 12; }

.g-gr-rspan-1 {
  grid-row: span 1; }

.g-gr-rspan-2 {
  grid-row: span 2; }

.g-gr-rspan-3 {
  grid-row: span 3; }

.g-gr-rspan-4 {
  grid-row: span 4; }

.g-gr-rspan-5 {
  grid-row: span 5; }

.g-gr-rspan-6 {
  grid-row: span 6; }

.g-gr-rspan-7 {
  grid-row: span 7; }

.g-gr-rspan-8 {
  grid-row: span 8; }

.g-gr-rspan-9 {
  grid-row: span 9; }

.g-gr-rspan-10 {
  grid-row: span 10; }

.g-gr-rspan-11 {
  grid-row: span 11; }

.g-gr-rspan-12 {
  grid-row: span 12; }

@media (min-width: 481px) {
  .g-gr-cspan-sm-1 {
    grid-column: span 1; }

  .g-gr-cspan-sm-2 {
    grid-column: span 2; }

  .g-gr-cspan-sm-3 {
    grid-column: span 3; }

  .g-gr-cspan-sm-4 {
    grid-column: span 4; }

  .g-gr-cspan-sm-5 {
    grid-column: span 5; }

  .g-gr-cspan-sm-6 {
    grid-column: span 6; }

  .g-gr-cspan-sm-7 {
    grid-column: span 7; }

  .g-gr-cspan-sm-8 {
    grid-column: span 8; }

  .g-gr-cspan-sm-9 {
    grid-column: span 9; }

  .g-gr-cspan-sm-10 {
    grid-column: span 10; }

  .g-gr-cspan-sm-11 {
    grid-column: span 11; }

  .g-gr-rspan-sm-1 {
    grid-row: span 1; }

  .g-gr-rspan-sm-2 {
    grid-row: span 2; }

  .g-gr-rspan-sm-3 {
    grid-row: span 3; }

  .g-gr-rspan-sm-4 {
    grid-row: span 4; }

  .g-gr-rspan-sm-5 {
    grid-row: span 5; }

  .g-gr-rspan-sm-6 {
    grid-row: span 6; }

  .g-gr-rspan-sm-7 {
    grid-row: span 7; }

  .g-gr-rspan-sm-8 {
    grid-row: span 8; }

  .g-gr-rspan-sm-9 {
    grid-row: span 9; }

  .g-gr-rspan-sm-10 {
    grid-row: span 10; }

  .g-gr-rspan-sm-11 {
    grid-row: span 11; }

  .g-gr-rspan-sm-12 {
    grid-row: span 12; } }
@media (min-width: 769px) {
  .g-gr-cspan-md-1 {
    grid-column: span 1; }

  .g-gr-cspan-md-2 {
    grid-column: span 2; }

  .g-gr-cspan-md-3 {
    grid-column: span 3; }

  .g-gr-cspan-md-4 {
    grid-column: span 4; }

  .g-gr-cspan-md-5 {
    grid-column: span 5; }

  .g-gr-cspan-md-6 {
    grid-column: span 6; }

  .g-gr-cspan-md-7 {
    grid-column: span 7; }

  .g-gr-cspan-md-8 {
    grid-column: span 8; }

  .g-gr-cspan-md-9 {
    grid-column: span 9; }

  .g-gr-cspan-md-10 {
    grid-column: span 10; }

  .g-gr-cspan-md-11 {
    grid-column: span 11; }

  .g-gr-rspan-md-1 {
    grid-row: span 1; }

  .g-gr-rspan-md-2 {
    grid-row: span 2; }

  .g-gr-rspan-md-3 {
    grid-row: span 3; }

  .g-gr-rspan-md-4 {
    grid-row: span 4; }

  .g-gr-rspan-md-5 {
    grid-row: span 5; }

  .g-gr-rspan-md-6 {
    grid-row: span 6; }

  .g-gr-rspan-md-7 {
    grid-row: span 7; }

  .g-gr-rspan-md-8 {
    grid-row: span 8; }

  .g-gr-rspan-md-9 {
    grid-row: span 9; }

  .g-gr-rspan-md-10 {
    grid-row: span 10; }

  .g-gr-rspan-md-11 {
    grid-row: span 11; }

  .g-gr-rspan-md-12 {
    grid-row: span 12; } }
@media (min-width: 997px) {
  .g-gr-cspan-lg-1 {
    grid-column: span 1; }

  .g-gr-cspan-lg-2 {
    grid-column: span 2; }

  .g-gr-cspan-lg-3 {
    grid-column: span 3; }

  .g-gr-cspan-lg-4 {
    grid-column: span 4; }

  .g-gr-cspan-lg-5 {
    grid-column: span 5; }

  .g-gr-cspan-lg-6 {
    grid-column: span 6; }

  .g-gr-cspan-lg-7 {
    grid-column: span 7; }

  .g-gr-cspan-lg-8 {
    grid-column: span 8; }

  .g-gr-cspan-lg-9 {
    grid-column: span 9; }

  .g-gr-cspan-lg-10 {
    grid-column: span 10; }

  .g-gr-cspan-lg-11 {
    grid-column: span 11; }

  .g-gr-rspan-lg-1 {
    grid-row: span 1; }

  .g-gr-rspan-lg-2 {
    grid-row: span 2; }

  .g-gr-rspan-lg-3 {
    grid-row: span 3; }

  .g-gr-rspan-lg-4 {
    grid-row: span 4; }

  .g-gr-rspan-lg-5 {
    grid-row: span 5; }

  .g-gr-rspan-lg-6 {
    grid-row: span 6; }

  .g-gr-rspan-lg-7 {
    grid-row: span 7; }

  .g-gr-rspan-lg-8 {
    grid-row: span 8; }

  .g-gr-rspan-lg-9 {
    grid-row: span 9; }

  .g-gr-rspan-lg-10 {
    grid-row: span 10; }

  .g-gr-rspan-lg-11 {
    grid-row: span 11; }

  .g-gr-rspan-lg-12 {
    grid-row: span 12; } }
@media (min-width: 1181px) {
  .g-gr-cspan-xl-1 {
    grid-column: span 1; }

  .g-gr-cspan-xl-2 {
    grid-column: span 2; }

  .g-gr-cspan-xl-3 {
    grid-column: span 3; }

  .g-gr-cspan-xl-4 {
    grid-column: span 4; }

  .g-gr-cspan-xl-5 {
    grid-column: span 5; }

  .g-gr-cspan-xl-6 {
    grid-column: span 6; }

  .g-gr-cspan-xl-7 {
    grid-column: span 7; }

  .g-gr-cspan-xl-8 {
    grid-column: span 8; }

  .g-gr-cspan-xl-9 {
    grid-column: span 9; }

  .g-gr-cspan-xl-10 {
    grid-column: span 10; }

  .g-gr-cspan-xl-11 {
    grid-column: span 11; }

  .g-gr-rspan-xl-1 {
    grid-row: span 1; }

  .g-gr-rspan-xl-2 {
    grid-row: span 2; }

  .g-gr-rspan-xl-3 {
    grid-row: span 3; }

  .g-gr-rspan-xl-4 {
    grid-row: span 4; }

  .g-gr-rspan-xl-5 {
    grid-row: span 5; }

  .g-gr-rspan-xl-6 {
    grid-row: span 6; }

  .g-gr-rspan-xl-7 {
    grid-row: span 7; }

  .g-gr-rspan-xl-8 {
    grid-row: span 8; }

  .g-gr-rspan-xl-9 {
    grid-row: span 9; }

  .g-gr-rspan-xl-10 {
    grid-row: span 10; }

  .g-gr-rspan-xl-11 {
    grid-row: span 11; }

  .g-gr-rspan-xl-12 {
    grid-row: span 12; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.flex-grid-wrapper {
  --grid-row-items-n: 1;
  --grid-row-items-p: 20px;
  overflow: visible !important;
  overflow-x: hidden; }
  .flex-grid-wrapper .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: calc(var(--grid-row-items-p) - (var(--grid-row-items-p) * 2));
    margin-bottom: calc(var(--grid-row-items-p) - (var(--grid-row-items-p) * 2)); }
    .flex-grid-wrapper .flex-grid .flex-grid-item {
      flex-basis: calc(100% / var(--grid-row-items-n) - var(--grid-row-items-p));
      margin-bottom: var(--grid-row-items-p);
      margin-right: var(--grid-row-items-p);
      height: fit-content; }
    .flex-grid-wrapper .flex-grid.grow {
      justify-content: space-between; }
      .flex-grid-wrapper .flex-grid.grow .flex-grid-item {
        flex-grow: 1; }

.flex-grid-wrapper.row-item-1 {
  --grid-row-items-n: 1 !important; }

.flex-grid-wrapper.row-item-2 {
  --grid-row-items-n: 2 !important; }

.flex-grid-wrapper.row-item-3 {
  --grid-row-items-n: 3 !important; }

.flex-grid-wrapper.row-item-4 {
  --grid-row-items-n: 4 !important; }

@media (min-width: 576px) {
  .flex-grid-wrapper.row-item-sm-1 {
    --grid-row-items-n: 1 !important; }

  .flex-grid-wrapper.row-item-sm-2 {
    --grid-row-items-n: 2 !important; }

  .flex-grid-wrapper.row-item-sm-3 {
    --grid-row-items-n: 3 !important; }

  .flex-grid-wrapper.row-item-sm-4 {
    --grid-row-items-n: 4 !important; } }
@media (min-width: 768px) {
  .flex-grid-wrapper {
    --grid-row-items-n: 2; }

  .flex-grid-wrapper.row-item-md-1 {
    --grid-row-items-n: 1 !important; }

  .flex-grid-wrapper.row-item-md-2 {
    --grid-row-items-n: 2 !important; }

  .flex-grid-wrapper.row-item-md-3 {
    --grid-row-items-n: 3 !important; }

  .flex-grid-wrapper.row-item-md-4 {
    --grid-row-items-n: 4 !important; } }
@media (min-width: 992px) {
  .flex-grid-wrapper {
    --grid-row-items-n: 3; }

  .flex-grid-wrapper.row-item-lg-1 {
    --grid-row-items-n: 1 !important; }

  .flex-grid-wrapper.row-item-lg-2 {
    --grid-row-items-n: 2 !important; }

  .flex-grid-wrapper.row-item-lg-3 {
    --grid-row-items-n: 3 !important; }

  .flex-grid-wrapper.row-item-lg-4 {
    --grid-row-items-n: 4 !important; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* [data-sesam-target] {
    &.sesam-hidden {
        display: none;
    }

    &.sesam-show {
        display: block;
    }
} */
[data-sesam-trigger] {
  cursor: pointer; }

@font-face {
  font-family: 'Gilmer';
  src: url("../fonts/Gilmer-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilmer';
  src: url("../fonts/Gilmer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gilmer';
  src: url("../fonts/Gilmer-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilmer';
  src: url("../fonts/Gilmer-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilmer';
  src: url("../fonts/Gilmer-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

input:focus, input:focus-within {
  box-shadow: none !important;
  outline: none; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

footer {
  display: none;
  margin-top: 15px; }

main {
  width: 100%;
  height: 100%;
  padding: 50px; }
  main #barUI {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    box-shadow: 0px 6px 27px -2px rgba(0, 0, 0, 0.27);
    overflow: hidden; }
    main #barUI aside[data-label="mainNav"] {
      background-color: #35689D; }

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 25px; }
  .container.container-lg {
    max-width: 1200px; }

button, .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  appearance: none;
  border: none;
  background: #dadada;
  padding: 5px 7px;
  border-radius: 9px;
  font-size: 0.9rem;
  font-weight: 500; }
  button svg.feather, .btn svg.feather {
    width: 17px;
    margin-right: 6px;
    stroke-width: 2.7px;
    stroke-linecap: square; }
  button:focus, button:focus-within, .btn:focus, .btn:focus-within {
    outline: none;
    box-shadow: none; }
  button.btn-blue, .btn.btn-blue {
    background-color: #25496E;
    color: white; }
    button.btn-blue svg.feather, .btn.btn-blue svg.feather {
      color: #B1D3F2; }
  button.btn-danger, .btn.btn-danger {
    background-color: #7B2522;
    color: white; }
    button.btn-danger svg.feather, .btn.btn-danger svg.feather {
      color: #D26B68; }
  button.btn-accent, .btn.btn-accent {
    background-color: #17a2b8;
    color: white; }

[data-label="logo"] {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 29px; }

svg.feather {
  height: 19px; }

* {
  font-family: "Gilmer"; }

.text-modern, button, .btn, .tab-content .tab-pane table.table tr td small, label, [data-label="posUsers"] .pos-el small, [data-label="posItems"] .pos-el small, [data-label="posAmount"] .pos-el small {
  text-transform: uppercase;
  letter-spacing: 2px; }

.bold {
  font-weight: bold; }

.fontw-500 {
  font-weight: 500; }

[data-label="logo"] {
  color: white; }

aside {
  position: relative; }
  aside [data-label="logo"] {
    transition: all .2s ease;
    transform-origin: left top; }
  aside nav {
    display: block; }
    aside nav ul.nav-tabs, aside nav ul {
      color: white;
      list-style: none;
      border: none;
      display: block; }
      aside nav ul.nav-tabs li, aside nav ul li {
        user-select: none;
        position: relative;
        margin-right: -1.5rem; }
        aside nav ul.nav-tabs li a.nav-link, aside nav ul.nav-tabs li.nav-option, aside nav ul li a.nav-link, aside nav ul li.nav-option {
          --d-corner: 20px;
          display: flex;
          align-items: center;
          vertical-align: middle;
          margin-bottom: calc(var(--d-corner) * 0.8);
          padding: 10px 30px 10px 10px;
          border: none;
          border-radius: 120px 0px 0px 120px;
          background-color: #35689D;
          color: white;
          font-weight: bold; }
          aside nav ul.nav-tabs li a.nav-link svg.feather, aside nav ul.nav-tabs li.nav-option svg.feather, aside nav ul li a.nav-link svg.feather, aside nav ul li.nav-option svg.feather {
            height: 20px;
            margin-right: 12px;
            color: #B1D3F2;
            transition: none; }
          aside nav ul.nav-tabs li a.nav-link .nav-tab-corner, aside nav ul.nav-tabs li.nav-option .nav-tab-corner, aside nav ul li a.nav-link .nav-tab-corner, aside nav ul li.nav-option .nav-tab-corner {
            visibility: hidden;
            position: absolute;
            height: var(--d) -corner;
            width: var(--d-corner);
            fill: white; }
            aside nav ul.nav-tabs li a.nav-link .nav-tab-corner.corner-top, aside nav ul.nav-tabs li.nav-option .nav-tab-corner.corner-top, aside nav ul li a.nav-link .nav-tab-corner.corner-top, aside nav ul li.nav-option .nav-tab-corner.corner-top {
              right: 0px;
              top: calc(var(--d-corner) * -1);
              transform: scale(-1, 1); }
            aside nav ul.nav-tabs li a.nav-link .nav-tab-corner.corner-btm, aside nav ul.nav-tabs li.nav-option .nav-tab-corner.corner-btm, aside nav ul li a.nav-link .nav-tab-corner.corner-btm, aside nav ul li.nav-option .nav-tab-corner.corner-btm {
              bottom: calc(var(--d-corner) * -1);
              right: 0px;
              transform: rotate(180deg); }
          aside nav ul.nav-tabs li a.nav-link.active, aside nav ul.nav-tabs li.nav-option.active, aside nav ul li a.nav-link.active, aside nav ul li.nav-option.active {
            background-color: white;
            color: #35689D; }
            aside nav ul.nav-tabs li a.nav-link.active .nav-tab-corner, aside nav ul.nav-tabs li.nav-option.active .nav-tab-corner, aside nav ul li a.nav-link.active .nav-tab-corner, aside nav ul li.nav-option.active .nav-tab-corner {
              visibility: visible; }
        aside nav ul.nav-tabs li.nav-option, aside nav ul li.nav-option {
          line-height: 14px; }
    aside nav [data-label="navOptions"] {
      position: absolute;
      bottom: 0px; }
      aside nav [data-label="navOptions"] li.nav-option {
        margin-bottom: 0px; }
  aside.sesam-hidden [data-label="logo"] {
    transform: scale(0.5);
    width: 0px; }
  aside.sesam-hidden .menu-collapse-hidden {
    width: 0px;
    overflow: hidden; }
  aside.sesam-hidden li {
    max-width: 64px; }
    aside.sesam-hidden li a {
      padding-right: 10px; }
      aside.sesam-hidden li a svg.feather {
        margin-right: 0px !important; }
    aside.sesam-hidden li.nav-option svg.feather {
      margin-right: 0px; }

.tab-content {
  width: 100%;
  height: 100%;
  overflow: scroll; }
  .tab-content .tab-pane {
    position: relative;
    height: 100%;
    width: 100%; }
    .tab-content .tab-pane .tab-pane-title {
      padding: 1rem 1rem 1rem 1.5rem;
      border-bottom: 1px solid #dadada; }
      .tab-content .tab-pane .tab-pane-title h3 {
        margin-bottom: 0px;
        color: #4b4b4b;
        font-weight: 600; }
    .tab-content .tab-pane table.table tr td {
      vertical-align: middle;
      line-height: 19px; }
      .tab-content .tab-pane table.table tr td small {
        color: #808080; }

.alert {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #F7E2A7; }
  .alert * {
    color: #886D2F; }
  .alert .alert-icon {
    border: 5px solid #F7E2A7;
    border-radius: 120Px; }
    .alert .alert-icon svg.feather {
      margin-top: -3px; }
  .alert.alert-warning {
    background-color: #FFFCF5; }
  .alert.alert-danger {
    border-bottom-color: #CB4039; }
    .alert.alert-danger * {
      color: #7B2522; }
    .alert.alert-danger .alert-icon {
      border: 5px solid #CB4039; }
  .alert[data-label="alertCredit"] {
    display: none; }

.modal-content {
  border: none;
  box-shadow: 0px 6px 27px -2px rgba(0, 0, 0, 0.27);
  border-radius: 20px; }
  .modal-content .modal-header {
    padding: 1rem 1.5rem 0rem 1.5rem;
    border: none; }
  .modal-content .modal-body {
    padding: 1.5rem; }
  .modal-content .modal-footer {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    border: none; }
    .modal-content .modal-footer button, .modal-content .modal-footer .btn {
      margin: 0px 20px 0px 0px; }
      .modal-content .modal-footer button:last-child, .modal-content .modal-footer .btn:last-child {
        margin-right: 0px; }
  .modal-content.modal-danger {
    background-color: #f8d7da; }
    .modal-content.modal-danger .btn {
      background-color: white; }
    .modal-content.modal-danger .btn-danger {
      background-color: #7B2522; }
    .modal-content.modal-danger .alert[data-label="alertCredit"] {
      display: block; }

#modalAddItem .modal-dialog {
  max-width: 700px; }

label {
  font-size: 0.9rem;
  font-weight: 500;
  user-select: none; }

.input-group.floating-label {
  position: relative;
  cursor: text; }
  .input-group.floating-label input.form-control, .input-group.floating-label input.form-control:not(:last-child) {
    border-radius: 9px;
    z-index: 0;
    border: 1.4px solid #b4b4b4; }
    .input-group.floating-label input.form-control::placeholder, .input-group.floating-label input.form-control:not(:last-child)::placeholder {
      transform: scale(1.8); }
    .input-group.floating-label input.form-control:valid + label, .input-group.floating-label input.form-control:not(:last-child):valid + label {
      transform: translate(0px, -18px) scale(0.8);
      background-color: white;
      color: #808080; }
  .input-group.floating-label label {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0px 4px;
    z-index: 1;
    transform-origin: left;
    transition: all .2s ease;
    color: #9e9e9e;
    cursor: text; }
  .input-group.floating-label:focus-within input {
    z-index: 0; }
  .input-group.floating-label:focus-within label {
    transform: translate(0px, -18px) scale(0.8);
    background-color: white;
    color: #808080; }

table.table tbody tr.active {
  background-color: #B1D3F2; }
table.table tbody tr.user-credit-neg td:nth-child(2) span {
  background-color: #b42a26;
  color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 9px; }
table.table tbody tr td {
  padding-top: 1rem;
  padding-bottom: 1rem; }
table.table tbody tr td:first-child {
  padding-left: 1.5rem; }
table.table tbody tr td:last-child {
  padding-left: 1.5rem; }

[data-label="posUsers"] .pos-el, [data-label="posItems"] .pos-el, [data-label="posAmount"] .pos-el {
  padding: 1.5rem;
  text-align: center;
  background: #b1d3f261;
  border-radius: 9px;
  user-select: none; }
  [data-label="posUsers"] .pos-el h3, [data-label="posItems"] .pos-el h3, [data-label="posAmount"] .pos-el h3 {
    margin-bottom: 0px; }
  [data-label="posUsers"] .pos-el.active, [data-label="posItems"] .pos-el.active, [data-label="posAmount"] .pos-el.active {
    background: #B1D3F2; }

[data-label="posAmount"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  [data-label="posAmount"] .pos-el {
    flex-basis: calc(100% / 3 - 24px) !important; }

/*# sourceMappingURL=main.css.map */
