
// Backup import input
[data-label="backupDragDrop"] {
    position: relative;
    background-color: var(--blue300);
    border-radius: 9px;

    [data-label="fileinput"] {
        height: 100px;
        opacity: 0;
        width: 100%;
    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// Circle goals
[data-label="progress-goals"] {
    display: flex;

    .goal-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
        }

        svg path {
            // stroke: hsl(270, 100%, 50%);
        }

        div {
            position: absolute;
            line-height: 14px;
            text-align: center;
            
            span {
                font-weight: 600;
            }
        }

        div.edit-goal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: var(--blue300);
            transform: scale(0);
            transform-origin: center;
            transition: all .2s ease;
            user-select: none;

            small.text-modern {
                display: block;
                color: var(--blue500);
                font-weight: 600;
            }
            
            svg.feather {
                // position: absolute;
                // top: 20px;
                height: unset;

                path {
                	stroke: var(--blue500);
                }
            }
        }

        &:hover {
            div.edit-goal {
                transform: scale(1);
            }
        }
    }

    .progress-circle {
        width: 140px;
    }
}

// dashboard
[data-label="dashBoardData"] {
    .card {
        border: none;
        background-color: #b1d3f261;
        border-radius: 9px;
    }
                  
    .card-icon {
        --d: 50px;
        position: absolute;
        top: calc(var(--d)/2*-1);
        left: calc(50% - (var(--d)/2));
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--d);
        height: var(--d);
        // width: fit-content;
        // height: fit-content;
        padding: 10px;
        border-radius: 120px;
        background-color: var(--blue300);
        z-index: 1;
        
        svg {
            transform: scale(1.1);
        }
        
        & + .card-group .card {
            padding-top: 1rem;            
        }
    }
    
    .card-group-wrapper {
        background-color: #b1d3f261;
        border-radius: 9px;
        
        .card {
            background-color: transparent;
        }
    }
    
    .card-group {
        position: relative;
        
        .card {
            // padding-top: + 1.25rem;
            padding-bottom: 1.25rem;
            
            &-body {
                margin-top: 1.25rem;
                padding: 0px 1.25rem;
                border-left: 2px solid var(--inputFieldsFocused);
            }
            
            &-icon {
                + .card-body {
                    margin-top: 1rem + 1.25rem;
                    text-align: center;
                }
            }
            
            &:first-child {
                .card-body {
                    border-left: none; 
                }
            }
        }
    }
}