:root {
    --font-main: 'Nexa';
    --font-scnd: 'Nexa Slab';

    --accent-main: #deb887;
    --accent-1: #F4F7F5;
    --accent-2: #E8EBE8;
    --accent-3: #DBDEDC;
    --accent-4: #9C9E9C;
    --accent-5: #747574;
    --accent-5: #5c5c5c;

    --border-radius: 4px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    // transition: .2s all ease;
}

:focus, :focus-within, ::after, ::before {
    outline: none !important;
    box-shadow: none !important;
}

body {
    scroll-behavior: smooth;
    background-color: var(--accent-2);
}

a, a:hover, a:focus {
    color: unset;

    &.url {
        color: var(--primary);
        text-decoration: underline;
    }
}

.spacing-r {
    padding-right: 250px !important;
}

@for $i from 1 through 6 {
    h#{$i} {
      font-family: var(--font-scnd);
      font-weight: bold;
    }
}

.txt-modern {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 90%;
}

.btn {
    font-family: var(--font-scnd);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;

    @extend .txt-modern;

    svg {
        --d: 17px;

        margin-right: 10px;
        width: var(--d);
        height: var(--d);
        transform: translateY(-1px);
    }
    
    &.no-txt {
        svg {
            margin-right: 0px;
        }
    }

    &.btn-primary {
        background-color: #007bff38;
        color: #0065ff;
        border: none;
    }

    &.btn-success {
        background-color: #28a74538;
        color: #186d2c;
        border: none;
    }

    &.btn-danger {
        background-color: #dc355138;
        color: #ab2e3a;
        border: none;
    }

    &.btn-warning {
        background-color: #ffc10738;
        color: #a27c07;
        border: none;
    }

    &.btn-info {
        color: #107080;
        background-color: #17a2b838;
        border: none;
    }
}

.icon-sm {
    svg {
        --d: 12px;

        width: var(--d);
        height: var(--d);
        transform: translateY(-1px);
    }
}

.icon-md {
    svg {
        --d: 16px;

        width: var(--d);
        height: var(--d);
        transform: translateY(-1px);
    }
}

.txt-item {
    width: 150px;
    height: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;

    span:nth-child(2) {
        font-size: 1rem;
        font-weight: normal;
    }
}

body[data-admin-login='false'] {
    .show-admin {
        display: none;
    }
}

body[data-admin-login='true'] {
    .hide-admin {
        display: none;
    }
}

#showCurrents {
    position: fixed;
    bottom: 0px;
    // left: 0px;
    right: 0px;
    background: var(--accent-2);
    max-width: 270px;
    z-index: 100;
}

.flex-grid-item {
    background-color: var(--primary) !important;
    height: 100px !important;
}

.drank-color-tag {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: var(--primary);
}

.showCurrentAmount {
    white-space: nowrap;
}

header {
    // background-color: burlywood;

    .nav-tabs {
        flex-wrap: nowrap;
        overflow: scroll;
        border: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .nav-item {
            --d-corner: 10px;
            position: relative;
            margin-right: calc(var(--d-corner) * 2);

            .nav-link{
                border: none;
                background-color: var(--accent-3);
                margin-bottom: 1px;
                padding: 7px 15px 5px 15px;
                font-family: var(--font-main);
                font-weight: 900;
                color: var(--accent-5);
    
                @extend .txt-modern;

                .nav-tab-corner {
                    position: absolute;
                    height: var(--d)-corner;
                    width: var(--d-corner);
                    /* color: red; */
                    fill: var(--accent-3);
    
                    &.corner-left {
                        left: calc(var(--d-corner) * -1);
                        bottom: 1px;
                        transform: scale(-1, 1);
                    }
    
                    &.corner-right {
                        right: calc(var(--d-corner) * -1);
                        bottom: 1px;
                    }
                }

                &.active {
                    background-color: var(--accent-1);
                    color: var(--accent-6);

                    .nav-tab-corner {
                        fill: var(--accent-1);
                    }
                }
            }

            &:first-child {
                .nav-tab-corner.corner-left {
                    display: none;
                }
            }
            &:last-child {
                .nav-tab-corner.corner-right {
                    display: none;
                }
            }
        }
    
    }
}

.tab-content {
    .tab-pane {
        &>.container {
            padding: 30px;
            background-color: var(--accent-1);
            border-radius: 0px 0px 8px 8px;
        }

        div:last-of-type.row {
            margin-bottom: 0px !important;
        }
    }
}

table {
    tbody:not(.nohover) > tr:hover, tbody:not(.nohover) > tr:focus {
        background-color: #ececec;
    }
}

#toastContainer {
    --distance: 30px;
    position: fixed;
    top: var(--distance);
    right: var(--distance);
    z-index: 100000;

    .toast {
        min-width: 300px;
        margin-bottom: 17px;

        .feather {
            stroke-width: 3px;
        }
    }
}