:root {
    --font-main: 'Nexa Slab';

    --accent-main: #deb887;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;

    // font-family: var(--font-main);
}

*:focus {
    outline: none;
    box-shadow: none;
}

body {
    scroll-behavior: smooth;
}

.spacing-r {
    padding-right: 237px !important;
}

header {
    background-color: burlywood;

    .nav-tabs {
        border: none;
    
        .nav-link, .nav-link.active{
            border: none;
            background-color: transparent;
            font-family: var(--font-main);
            font-weight: bolder;
            text-transform: lowercase;
            font-size: 1.2rem;
            color: white;

            @extend .txt-modern;
        }
    }
}

@for $i from 1 through 6 {
    h#{$i} {
      font-family: var(--font-main);
      font-weight: bold;
    }
}

.txt-modern {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 90%;
}

.btn {
    font-family: var(--font-main);
    font-weight: bold;
    padding-top: 12px;

    @extend .txt-modern;

    svg {
        --d: 17px;

        margin-right: 10px;
        width: var(--d);
        height: var(--d);
        transform: translateY(-1px);
    }
    
    &.no-txt {
        svg {
            margin-right: 0px;
        }
    }
}

.icon-sm {
    svg {
        --d: 17px;

        width: var(--d);
        height: var(--d);
        transform: translateY(-1px);
    }
}

.txt-item {
    width: 150px;
    height: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;

    span:nth-child(2) {
        font-size: 1rem;
        font-weight: normal;
    }
}

body[data-admin-login='false'] {
    .show-admin {
        display: none;
    }
}

body[data-admin-login='true'] {
    .hide-admin {
        display: none;
    }
}

#showCurrents {
    position: fixed;
    // left: 0px;
    right: 0px;
    bottom: -24px;
    background: white;
    max-width: 270px;
    z-index: 100;
}

.flex-grid-item {
    background-color: var(--primary) !important;
    height: 100px !important;
}

.drank-color-tag {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: var(--primary);
}

.showCurrentAmount {
    white-space: nowrap;
}