# This is a basic workflow to help you get started with Actions

name: Electron build on Windows

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.1
  
    - name: Install Dependencies
      run: npm install
    
    - name: Electron Builder Action
      uses: samuelmeuli/action-electron-builder@v1.4.0
      with:
        # GitHub authentication token
        github_token: ${{ secrets.GITHUB_TOKEN }}

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!


